.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 10;

  .logoContainer {
    position: relative;
    margin: 40px 40px;
    z-index: 2;
    border-top: 0;
    width: 250px;
    height: 45px;
  }

  .menuContainer {
    margin: 10px 20px;
    z-index: 2;
    display: flex; //flex
    align-items: center;
  }
}

@screen md {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    z-index: 10;
    //background-color: var(--main-bg-color);

    .logoContainer {
      position: relative;
      margin: 50px 80px;
      z-index: 2;
      border-top: 0;
      width: 80px;
      height: 180px;
    }

    .menuContainer {
      margin: 40px 60px;
      z-index: 2;
      display: flex; //flex
      align-items: center;
      a {
        font-family: "font77190";
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 3px 0 0 0;
        padding: 0;
      }
    }
  }
}
