.header {
  @apply z-10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  .logoContainer {
    @apply z-30;
    position: relative;
    margin: 20px 20px;

    border-top: 0;
    width: 200px;
    height: 40px;
  }

  .menuContainer {
    @apply z-30;
    margin: 10px 10px;

    display: flex; //flex
    align-items: center;
  }
}

@screen lg {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;

    //background-color: pink;

    .logoContainer {
      position: relative;
      margin: 40px 60px;
      border-top: 0;
      width: 60px;
      height: 160px;
    }

    .menuContainer {
      margin: 40px 60px;
      display: flex; //flex
      align-items: center;
      a {
        font-family: "font77190";
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 3px 0 0 0;
        padding: 0;
      }
    }
  }
}

@screen xl {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;

    //background-color: pink;

    .logoContainer {
      position: relative;
      margin: 50px 80px;

      border-top: 0;
      width: 80px;
      height: 180px;
    }

    .menuContainer {
      margin: 40px 60px;

      display: flex; //flex
      align-items: center;
      a {
        font-family: "font77190";
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 3px 0 0 0;
        padding: 0;
      }
    }
  }
}
