.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  .logoContainer {
    z-index: 1;
    position: relative;
    margin: 20px 20px;
    border-top: 0;
    width: 160px;
    height: 60px;
    min-width: 160px;
    min-height: 60px;
    //background-color: red;
    .logo {
      width: 160px;
      height: 60px;
    }
  }

  .menuContainer {
    @apply z-30;
    margin: 10px 10px;

    display: flex; //flex
    align-items: center;
  }
}

@screen lg {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;

    //background-color: pink;

    .logoContainer {
      position: relative;
      margin: 40px 60px;
      border-top: 0;
      width: 60px;
      height: 160px;
      min-width: 60px;
      min-height: 160px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .logo {
        width: 160px;
        height: 60px;
      }
    }

    .menuContainer {
      margin: 40px 60px;
      display: flex; //flex
      align-items: center;
      a {
        font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 3px 0 0 0;
        padding: 0;
      }
    }
  }
}

@screen xl {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;

    //background-color: pink;

    .logoContainer {
      margin: 50px 80px;
      border-top: 0;
      width: 80px;
      height: 180px;
      min-width: 80px;
      min-height: 180px;
      .logo {
        width: 180px;
        height: 80px;
      }
    }

    .menuContainer {
      right: 0;
      margin: 40px 60px;
      display: flex; //flex
      align-items: center;
      a {
        font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 3px 0 0 0;
        padding: 0;
      }
    }
  }
}
