.whereContainer {
  @apply w-4/12;
  border-right: 1px dashed var(--main-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
}

.where {
  font-size: 1.8rem;
  line-height: 1.25;
  margin-bottom: 0;
  font-family: "AbsaraSans";
  text-align: right;
}

.theme {
  font-size: 1.3rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "AbsaraSans";
  color: var(--main-bg-color);
}

.place {
  @apply w-full  flex;
}

.title {
  font-family: "AbsaraSans";

  font-size: 1.2rem;
}

.description {
  padding: 5px 10px 0 0px;
  font-family: "AbsaraSans-Thin";
  font-size: 1.19rem;
  line-height: 1.75;
  margin-bottom: 1rem;

  strong,
  b {
    font-family: "AbsaraSans";
  }

  a {
    border-bottom: 1px dashed var(--main-bg-color);
    &:hover {
      color: var(--main-bg-color);
    }
  }
}
