.news {
  background-color: var(--secondary-bg-color);
}

.container {
  @apply w-10/12 mx-auto mt-5;
  display: flex;
  flex-direction: column;
  align-items: center;

  .newsContainer {
    @apply w-full;

    .image {
      .caption {
        padding: 5px 0px;
        font-size: 0.875rem;
        font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }
    }

    .text {
      h2 {
        font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 1.8rem;
        margin-bottom: 10px;
        margin-top: 8px;
        line-height: 1.3;
      }

      .excerpt {
        font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 1rem;
        line-height: 1.65;
        margin-bottom: 0.5rem;
      }

      .readMore {
        display: none;
      }
    }
  }
}

@screen lg {
  .container {
    @apply w-10/12 mx-auto;
    .newsContainer {
      @apply w-full;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .image {
        @apply w-5/12;
        .caption {
          padding: 5px 0px;
          font-size: 0.875rem;
          font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
        }
      }

      .text {
        @apply w-7/12 pl-10;

        h2 {
          font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 3.3rem;
          line-height: 1.1;
          margin-bottom: 20px;
          margin-top: unset;
        }

        .excerpt {
          font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 1.2rem;
          line-height: 1.6;
        }

        .readMore {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          span {
            font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont,
              Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
              Helvetica Neue, sans-serif;
            font-size: 0.875rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
