.container {
  @apply w-10/12 mx-auto;
  .newsContainer {
    @apply w-full  mb-20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .image {
      .caption {
        background-color: #efefef;
        padding: 5px 10px;
        font-size: 0.875rem;
        font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }
    }

    .text {
      @apply pt-10;
      h2 {
        font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 10px;
      }

      .excerpt {
        font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 1.275rem;
        line-height: 1.55;
        padding-top: 1rem;
        margin-bottom: 1rem;
      }

      .content {
        font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 1rem;
        line-height: 1.65;
        margin-bottom: 1rem;

        h2 {
          font-size: 2.2rem;
          color: var(--main-text-color);
          line-height: 3.8rem;
          margin-bottom: 1rem;
          border-bottom: 1px dashed var(--main-bg-color);
          font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
        }

        h3 {
          font-size: 1.8rem;
          color: var(--main-text-color);
          line-height: 3.8rem;
          margin-bottom: 1rem;
          border-bottom: 1px dashed var(--main-bg-color);
          font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          padding-bottom: unset;
        }

        p {
          font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 1.1rem;
          line-height: 1.75;
          margin-bottom: 0.5rem;
        }

        ul {
          margin-bottom: 1rem;
        }

        b,
        strong {
          font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
        }

        i {
          font-family: "AbsaraSans-Thin-Italic", -apple-system,
            BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
            Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        }
      }

      .download {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        justify-content: center;
        a {
          display: flex;
          background-color: var(--main-bg-color);
          padding: 10px 20px;
          color: white;
          font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          text-transform: uppercase;
          align-items: center;
          justify-content: center;

          span {
            margin-right: 10px;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

@screen lg {
  .container {
    @apply w-9/12 mx-auto;
    margin-top: 50px;
    margin-bottom: 50px;
    .newsContainer {
      @apply w-full  mb-20;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .text {
        @apply w-full pl-10;
        h2 {
          font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 2rem;
          line-height: 1.2;
          margin-bottom: 10px;
        }

        .intro {
          display: flex;
          margin-bottom: 2.5rem;
          align-items: center;
        }

        .excerpt {
          @apply w-7/12;
          font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 1.475rem;
          line-height: 1.575;
          padding-left: 2rem;
          margin-bottom: unset;
        }

        .image {
          @apply w-5/12;
        }

        .content {
          font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 1.19rem;
          line-height: 1.6;
          p {
            margin-bottom: 1rem;
          }
        }

        .download {
          display: flex;
          align-items: center;
          margin-top: 3rem;
          justify-content: center;
          a {
            display: flex;
            background-color: var(--main-bg-color);
            padding: 15px 30px;
            color: white;
            font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont,
              Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
              Helvetica Neue, sans-serif;
            text-transform: uppercase;
            align-items: center;
            span {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
