.container {
  @apply w-10/12 mx-auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero_list {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    letter-spacing: -0.1rem;
    line-height: 1.6;
    .hero_name {
      display: inline;
      &.color1 {
        color: var(--main-bg-color);
      }

      &.color2 {
        color: var(--main-bg-color);
      }

      &.color3 {
        color: var(--main-bg-color);
      }
      .lowLight {
        color: #f1e596;
      }

      .highLight {
        font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }
      .trattino {
        font-size: 1.5rem;
        color: #cccccb;
      }
    }
  }
}

@screen sm {
  .container {
    @apply w-11/12 mx-auto;
    .hero_list {
      font-size: 3rem;
      line-height: 1.4;
      .hero_name {
        .trattino {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@screen md {
  .container {
    @apply w-10/12 mx-auto;
    .hero_list {
      font-size: 4.1rem;
      letter-spacing: -0.3rem;
      line-height: 1.4;

      .hero_name {
        .trattino {
          font-size: 3rem;
        }
      }
    }
  }
}

@screen lg {
  .container {
    @apply w-10/12 mx-auto;

    .hero_list {
      font-size: 5.9rem;
      letter-spacing: -0.3rem;
      line-height: 1.2;

      .hero_name {
        .trattino {
          font-size: 4rem;
        }
      }
    }
  }
}

@screen xl {
  .container {
    @apply w-10/12 mx-auto;

    .hero_list {
      font-size: 6.6rem;
      letter-spacing: -0.3rem;
      line-height: 1.1;

      .hero_name {
        .trattino {
          font-size: 4.5rem;
        }
      }
    }
  }
}

@screen 2xl {
  .container {
    @apply w-8/12 mx-auto;

    .hero_list {
      font-size: 7.2rem;
      letter-spacing: -0.3rem;
      line-height: 1.2;

      .hero_name {
        .trattino {
          font-size: 6rem;
        }
      }
    }
  }
}
