.anteprima {
}

.container {
  @apply w-11/12 mx-auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 20px;

  .title {
    font-family: "AbsaraSans";
    border-bottom-color: var(--main-bg-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: inline-block;
    font-size: 1.375rem;
    line-height: 1;
    padding-bottom: 14px;
    margin-bottom: 40px;
    color: var(--main-text-color);
  }

  .hero_list {
    display: block;
    text-align: center;
    font-size: 2.65rem;
    font-family: "AbsaraSans-Thin";
    letter-spacing: -0.1rem;
    line-height: 1.6;
    .hero_name {
      display: inline;
      &.color1 {
        color: var(--main-bg-color);
      }

      &.color2 {
        color: var(--main-bg-color);
      }

      &.color3 {
        color: var(--main-bg-color);
      }
      .lowLight {
        color: #f1e596;
      }

      .highLight {
        font-family: "AbsaraSans";
      }
      .trattino {
        font-size: 1.5rem;
        color: #cccccb;
      }
    }
  }

  .button {
    background-color: var(--main-bg-color);
    padding: 15px 40px;
    font-family: "AbsaraSans";
    font-size: 1.4rem;
    margin: 50px auto 100px;
    color: white;
  }
}

@screen sm {
  .container {
    @apply w-11/12 mx-auto;
    .hero_list {
      font-size: 3rem;
      line-height: 1.4;
      .hero_name {
        .trattino {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@screen md {
  .container {
    @apply w-10/12 mx-auto;

    .title {
      border-bottom-width: 3px;
      font-size: 28px;
      line-height: 28px;
      padding-bottom: 20px;
      margin-bottom: 80px;
    }

    .hero_list {
      font-size: 4.1rem;
      letter-spacing: -0.3rem;
      line-height: 1.4;

      .hero_name {
        .trattino {
          font-size: 3rem;
        }
      }
    }
  }
}

@screen lg {
  .container {
    @apply w-9/12 mx-auto;
    padding-bottom: 20px;

    .title {
      border-bottom-width: 3px;
      font-size: 28px;
      line-height: 28px;
      padding-bottom: 20px;
      margin-bottom: 80px;
    }

    .hero_list {
      font-size: 4.9rem;
      letter-spacing: -0.3rem;
      line-height: 1.2;

      .hero_name {
        .trattino {
          font-size: 4rem;
        }
      }
    }
  }
}

@screen xl {
  .container {
    @apply w-9/12 mx-auto;

    .title {
      border-bottom-width: 3px;
      font-size: 28px;
      line-height: 28px;
      padding-bottom: 20px;
      margin-bottom: 80px;
    }

    .hero_list {
      font-size: 6rem;
      letter-spacing: -0.3rem;
      line-height: 1.2;

      .hero_name {
        .trattino {
          font-size: 4.5rem;
        }
      }
    }
  }
}

@screen 2xl {
  .container {
    @apply w-9/12 mx-auto;

    .title {
      border-bottom-width: 3px;
      font-size: 28px;
      line-height: 28px;
      padding-bottom: 20px;
      margin-bottom: 80px;
    }

    .hero_list {
      font-size: 7rem;
      letter-spacing: -0.3rem;
      line-height: 1.2;

      .hero_name {
        .trattino {
          font-size: 6rem;
        }
      }
    }
  }
}
