.guestContentContainer {
  .guestHeader {
    text-align: center;
    font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    background-color: var(--main-bg-color);
    padding: 100px 0 30px 0;

    h2 {
      @apply w-10/12 mx-auto;
      margin-top: 10px;
      font-size: 2.5rem;
      text-align: left;
      display: block;
      text-align: center;
      color: white;
      line-height: 1;

      &.nomeLungo {
        font-size: 1.9rem;
        line-height: 1.2;
      }

      &::after {
        content: '';
        display: block;
        margin: 1rem auto 0.2rem auto;
        width: 100px;
        border-top: 2px solid var(--main-text-color);
      }

      .nome {
        color: var(--secondary-bg-color);
        color: whitesmoke;
      }

      .cognome {
        font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        color: white;
      }
    }

    h3 {
      font-size: 1.4rem;
      padding: 10px 0;
    }
  }

  .guestBody {
    margin: 25px 0 50px 0;
    .text {
      @apply w-10/12 mx-auto;

      p {
        font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 1.1rem;
        line-height: 1.75;
        margin-bottom: 0.5rem;

        b,
        strong {
          font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
        }

        i {
          font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
        }
      }
    }
  }

  .giorniFestival {
    margin-top: 0.7rem;

    h4 {
      font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: var(--main-text-color);
      margin-bottom: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
      @apply w-6/12 mx-auto;
      display: flex;
      justify-content: center;
      li {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        .dayNumber {
          display: flex;
          font-size: 0.75rem;
          border-radius: 50%;
          border: 2px solid #7e7f7f;
          height: 50px;
          width: 50px;
          justify-content: center;
          align-items: center;
          margin-right: 8px;
          font-family: 'MontSerrat', -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          background-color: #efefef;
          color: var(--main-text-color);
        }

        .active {
          background-color: var(--green-color);
          color: white;
        }
      }
    }
  }
}
.guestEventsSection {
  background-color: whitesmoke;
  padding: 1rem;
}

.guestEvents {
  @apply w-10/12 mx-auto;
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  .guestEventsHeader {
    display: flex;
    justify-content: center;
  }

  h3 {
    font-size: 2rem;
    color: var(--main-text-color);
    line-height: 3rem;
    margin-bottom: 3rem;
    border-bottom: 3px solid var(--main-bg-color);
    font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }
}

@screen md {
  .guestContentContainer {
    .guestHeader {
      text-align: center;
      font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
      background-color: var(--main-bg-color);
      padding: 50px 0;
      height: 100vh;

      h2 {
        @apply w-6/12 mx-auto;
        margin-top: 20px;
        font-size: 4rem;
        text-align: left;
        display: block;
        text-align: center;
        color: white;
        line-height: 1;

        &.nomeLungo {
          font-size: 3rem;
        }

        &::after {
          content: '';
          display: block;
          margin: 1rem auto 0 auto;
          width: 100px;
          border-top: 3px solid var(--main-text-color);
        }

        .nome {
          color: var(--secondary-bg-color);
          color: whitesmoke;
        }

        .cognome {
          font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          color: white;
        }
      }

      h3 {
        font-size: 2rem;
        padding: 10px 0;
      }
    }

    .guestBody {
      margin: 50px 0 50px 0;
      .text {
        @apply w-7/12 mx-auto;

        p {
          font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 1.275rem;
          line-height: 1.75;
          margin-bottom: 1rem;

          b,
          strong {
            font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont,
              Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
              Helvetica Neue, sans-serif;
          }

          i {
            font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont,
              Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
              Helvetica Neue, sans-serif;
          }
        }
      }
    }

    .giorniFestival {
      margin-top: 1rem;

      h4 {
        font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        text-transform: uppercase;
        font-size: 0.85rem;
        color: var(--main-text-color);
        margin-bottom: 10px;
      }
      ul {
        margin: 0;
        padding: 0;
        @apply w-6/12 mx-auto;
        display: flex;
        justify-content: center;
        li {
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          .dayNumber {
            display: flex;

            font-size: 0.85rem;
            border-radius: 50%;
            border: 2px solid #7e7f7f;
            height: 70px;
            width: 70px;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            font-family: 'MontSerrat', -apple-system, BlinkMacSystemFont,
              Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
              Helvetica Neue, sans-serif;
            background-color: #efefef;
            color: var(--main-text-color);
          }

          .active {
            background-color: var(--green-color);
            color: white;
          }
        }
      }
    }
  }

  .guestEvents {
    @apply w-7/12 mx-auto;
  }
}
