.back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 4rem;
  color: var(--main-bg-color);

  .textBack {
    font-family: "AbsaraSans";
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}
