.container {
  @apply w-10/12 mx-auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sponsor_list {
    @apply w-full mx-auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .sponsorContainer {
      position: relative;
      margin: 0;
      @apply w-6/12;
    }
  }
}

@screen md {
  .container {
    @apply w-11/12 mx-auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sponsor_list {
      @apply w-full mx-auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .sponsorContainer {
        position: relative;
        margin: 15px 0;
        width: 300px;
      }

      .sponsor {
        &.noImage {
          font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;

          font-size: 0.9rem;
        }
      }
    }
  }
}
