.evento {
  @apply w-full;
  margin-bottom: 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.35rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-style: italic;
  @screen md {
    font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
}

.where {
  font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-transform: uppercase;
  color: #78b960;
}

.etaLabel {
  background-color: var(--secondary-bg-color);
  padding: 3px 8px;
  font-family: "MontSerrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--main-text-color);
  font-size: 0.785rem;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.maxIscrittiLabel {
  background-color: var(--secondary-bg-color);
  padding: 3px 8px;
  font-family: "MontSerrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--main-text-color);
  font-size: 0.8rem;
  border-radius: 5px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

.prenotaOnline {
  background-color: #78b960;
  padding: 3px 8px;
  font-family: "MontSerrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;

  &:hover {
    background-color: var(--main-bg-color);
  }
}

.time {
  font-family: "MontSerrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.785rem;
  background-color: var(--new-color);
  padding: 3px 8px;
  color: white;
  margin-bottom: 0.75rem;
  display: inline-block;
  border-radius: 5px;
}

.description {
  padding: 5px 0 0 0;
  font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 1.1rem;
  strong,
  b {
    font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }

  a {
    border-bottom: 1px dashed var(--main-bg-color);
    &:hover {
      color: var(--main-bg-color);
    }
  }
}

.finanziamento {
  padding: 5px 0 0px;
  font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--main-text-color);
  margin-bottom: 5px;
}
