.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  height: 75vh;
  justify-content: center;

  .imgBg {
    @apply w-10/12 mx-auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    //background-color: red;
    height: 220px;
    background-image: url("/images/isola-delle-storie-2022.png");
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: 60px 10px;
  }

  .slogan {
    @apply w-10/12 mx-auto;

    padding-top: 20px;

    .titleContainer {
      position: relative;
    }

    .title {
      font-size: 4rem;
      font-family: "AbsaraSans-Thin";
      line-height: 1;
      letter-spacing: 0;
      color: var(--main-title-color);
      margin-bottom: 1rem;
    }
    .subTitle {
      font-size: 1.4rem;
      font-family: "AbsaraSans-Light-Italic";
      font-style: italic;
      letter-spacing: -0.019rem;
      color: var(--main-text-color);
    }

    .whenTitle {
      position: absolute;
      right: 12px;
      bottom: 6px;
      color: var(--main-text-color);
      display: flex;
      flex-direction: column;

      .place {
        font-family: "AbsaraSans-Bold";
        font-size: 1.8rem;
        letter-spacing: 0.04rem;
        line-height: 0.8;
      }

      .date {
        font-family: "AbsaraSans-Bold";
        font-size: 1rem;
        letter-spacing: 0.03rem;
        margin-left: 1px;
      }
    }
  }

  // @screen sm {
  //   height: 400px;
  //   //background-color: lime;
  //   background-image: url("/images/isola-delle-storie-2022.png");
  //   background-position: 170px bottom;
  //   background-repeat: no-repeat;
  //   background-size: 400px;
  //   .slogan {
  //     @apply w-6/12;
  //     margin-left: 390px;
  //     margin-top: 200px;
  //     //background-color: red;
  //     .title {
  //       font-size: 2.8rem;
  //       font-family: "AbsaraSans-Thin";
  //       line-height: 1;
  //       letter-spacing: 0.1rem;
  //       color: var(--main-title-color);
  //       margin-bottom: 1rem;
  //       position: relative;
  //     }
  //     .subTitle {
  //       font-size: 1.2rem;
  //       font-family: "AbsaraSans-Light-Italic";
  //       font-style: italic;
  //       letter-spacing: -0.019rem;
  //       color: var(--main-text-color);
  //     }

  //     .whenTitle {
  //       position: absolute;
  //       right: 90px;
  //       bottom: 86px;
  //       color: var(--main-text-color);

  //       display: flex;
  //       flex-direction: column;

  //       .place {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 3rem;
  //         letter-spacing: 0.04rem;
  //         line-height: 1.1;
  //       }

  //       .date {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 1.7rem;
  //         letter-spacing: 0.03rem;
  //       }
  //     }
  //   }
  // }

  // @screen md {
  //   height: 500px;
  //   //background-color: red;
  //   background-image: url("/images/isola-delle-storie-2022.png");
  //   background-position: 150px bottom;
  //   background-repeat: no-repeat;
  //   background-size: 600px;
  //   .slogan {
  //     width: 400px;
  //     min-width: 400px;
  //     margin-left: 490px;
  //     margin-top: 190px;
  //     //background-color: yellow;
  //     position: relative;
  //     .title {
  //       font-size: 4rem;
  //       font-family: "AbsaraSans-Thin";
  //       line-height: 1;
  //       letter-spacing: 0.1rem;
  //       color: var(--main-title-color);
  //       margin-bottom: 1.4rem;
  //       position: relative;
  //     }
  //     .subTitle {
  //       font-size: 1.4rem;
  //       font-family: "AbsaraSans-Light-Italic";
  //       font-style: italic;
  //       letter-spacing: -0.019rem;
  //       color: var(--main-text-color);
  //     }

  //     .whenTitle {
  //       position: absolute;
  //       right: 75px;
  //       bottom: 188px;
  //       color: var(--main-text-color);

  //       display: flex;
  //       flex-direction: column;

  //       .place {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 2rem;
  //         letter-spacing: 0.04rem;
  //         line-height: 0.7;
  //       }

  //       .date {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 1rem;
  //         letter-spacing: 0.03rem;
  //       }
  //     }
  //   }
  // }

  // @screen lg {
  //   //background-color: purple;
  //   background-image: url("/images/isola-delle-storie-2022.png");
  //   background-position: 120px top;
  //   background-repeat: no-repeat;
  //   background-size: 900px;
  //   height: 650px;
  //   max-height: 800px;
  //   .slogan {
  //     width: 400px;
  //     min-width: 400px;
  //     margin-left: 600px;
  //     margin-top: 250px;
  //     //background-color: red;
  //     position: relative;
  //     .title {
  //       font-size: 5rem;
  //       font-family: "AbsaraSans-Thin";
  //       line-height: 1;
  //       letter-spacing: 0.1rem;
  //       color: var(--main-title-color);
  //       margin-bottom: 1.4rem;
  //       position: relative;
  //     }
  //     .subTitle {
  //       font-size: 1.7rem;
  //       font-family: "AbsaraSans-Light-Italic";
  //       font-style: italic;
  //       letter-spacing: -0.019rem;
  //       color: var(--main-text-color);
  //     }

  //     .whenTitle {
  //       position: absolute;
  //       right: 30px;
  //       bottom: 248px;
  //       color: var(--main-text-color);

  //       display: flex;
  //       flex-direction: column;

  //       .place {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 2rem;
  //         letter-spacing: 0.04rem;
  //         line-height: 1.1;
  //       }

  //       .date {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 1rem;
  //         letter-spacing: 0.03rem;
  //       }
  //     }
  //   }
  // }

  // @screen xl {
  //   height: 100vh;
  //   //background-color: orange;
  //   background-image: url("/images/isola-delle-storie-2022.png");
  //   background-position: 100px top;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   height: 800px;
  //   max-height: 800px;
  //   .slogan {
  //     width: 550px;
  //     min-width: 550px;
  //     margin-left: 640px;
  //     margin-top: 270px;
  //     //background-color: red;
  //     position: relative;
  //     .title {
  //       font-size: clamp(1rem, -0.875rem + 10vw, 6.5rem);
  //       font-family: "AbsaraSans-Thin";
  //       line-height: 1;
  //       letter-spacing: 0.1rem;
  //       color: var(--main-title-color);
  //       margin-bottom: 1.4rem;
  //       position: relative;
  //     }
  //     .subTitle {
  //       font-size: 1.7rem;
  //       font-family: "AbsaraSans-Light-Italic";
  //       font-style: italic;
  //       letter-spacing: -0.019rem;
  //       color: var(--main-text-color);
  //     }

  //     .whenTitle {
  //       position: absolute;
  //       right: 26px;
  //       bottom: 331px;
  //       color: var(--main-text-color);

  //       display: flex;
  //       flex-direction: column;

  //       .place {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 3rem;
  //         letter-spacing: 0.04rem;
  //         line-height: 0.8;
  //       }

  //       .date {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 1.7rem;
  //         letter-spacing: 0.03rem;
  //       }
  //     }
  //   }
  // }

  // @screen 2xl {
  //   //background-color: blue;
  //   background-image: url("/images/isola-delle-storie-2022.png");
  //   background-position: 200px 25px;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   height: 800px;
  //   max-height: 800px;
  //   .slogan {
  //     width: 650px;
  //     min-width: 650px;
  //     margin-left: 750px;
  //     margin-top: 302px;
  //     position: relative;
  //     //background-color: red;
  //     .title {
  //       font-size: 7.5rem;
  //       font-family: "AbsaraSans-Thin";
  //       line-height: 0.9;
  //       letter-spacing: 0.4rem;
  //       color: var(--main-title-color);
  //       margin-bottom: 1.4rem;
  //       position: relative;
  //     }
  //     .subTitle {
  //       font-size: 2.1rem;
  //       font-family: "AbsaraSans-Light-Italic";
  //       font-style: italic;
  //       letter-spacing: -0.019rem;
  //       color: var(--main-text-color);
  //     }

  //     .whenTitle {
  //       position: absolute;
  //       right: 43px;
  //       bottom: 287px;
  //       color: var(--main-text-color);
  //       display: flex;
  //       flex-direction: column;

  //       .place {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 3rem;
  //         letter-spacing: 0.04rem;
  //         line-height: 1.1;
  //       }

  //       .date {
  //         font-family: "AbsaraSans-Bold";
  //         font-size: 1.7rem;
  //         letter-spacing: 0.03rem;
  //       }
  //     }
  //   }
  // }
}
