.footer {
  background-color: var(--main-bg-color);
  margin-top: auto;
  position: relative;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .footerContainer {
    padding-top: 100px;
    padding-bottom: 100px;
    @apply w-11/12 mx-auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .logoContainer {
      @apply relative;
      width: 8rem;
      min-width: 8rem;
      height: 5rem;
      min-height: 5rem;
      margin-bottom: 40px;

      .logo {
        @apply antialiased opacity-100 h-auto;
      }
    }

    .socialContainer {
      @apply relative;
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 1.5rem;

      .socialIcon {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        border-radius: 50%;
        //transition: all 5s ease-in-out;
        //border: 1px dashed #222;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1e596;

        .icon {
          font-size: 1.2rem;
          color: #222;
        }
      }
    }

    .infoContainer {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 45px;

      .owner {
        font-family: "AbsaraSans";
        font-size: 1.5rem;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 10px;
      }

      .legalData {
        font-family: "AbsaraSans-Thin";
        font-size: 0.8rem;
      }
    }
  }
}

@screen md {
  .footer {
    background-color: var(--main-bg-color);
    margin-top: auto;
    position: relative;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footerContainer {
      padding-top: 100px;
      padding-bottom: 100px;
      @apply w-11/12 mx-auto;
      //background-color: pink;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;

      .logoContainer {
        @apply relative;
        width: 10rem;
        min-width: 10rem;
        height: 7rem;
        min-height: 7rem;
        margin-bottom: 40px;

        .logo {
          @apply antialiased opacity-100 h-auto;
        }
      }

      .socialContainer {
        @apply relative;
        justify-content: center;
        align-items: center;
        display: flex;

        gap: 2rem;

        .socialIcon {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
          border-radius: 50%;
          //transition: all 5s ease-in-out;
          //border: 1px dashed #222;
          padding: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f1e596;

          .icon {
            font-size: 1.2rem;
            color: #222;
          }
        }
      }

      .infoContainer {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;

        .owner {
          font-family: "AbsaraSans";
          font-size: 2rem;
          text-align: center;
        }

        .legalData {
          font-family: "AbsaraSans-Thin";
          font-size: 1.1rem;
        }
      }
    }
  }
}
