.pageContentContainer {
  background-color: #efefef;
  display: flex;
}

.pageContent {
  margin: 50px 0;
  @apply w-8/12 mx-auto;
  background-color: transparent;
  font-family: 'AbsaraSans-Thin', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 1.0875rem;

  h2 {
    width: 100%;
    font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
  }
}

.contentContainer {
  margin: 35px 0;

  @screen md {
    background-color: transparent;
    margin: 50px 0;
  }
}

.eventContainer {
  margin-bottom: 2rem;
  @screen md {
    margin-bottom: unset;
    @apply flex justify-between mb-20;
  }
}

.mostreContainer {
  flex-direction: column;

  .luogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .where {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 0;
    font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @screen md {
      font-size: 1.8rem;
    }

    &:after {
      content: '';
      border-bottom: 1px dashed var(--main-text-color);
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      display: block;
      text-align: center;
      width: 200px;
    }
  }

  .theme {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-family: 'MontSerrat', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    text-align: center;
    background-color: var(--new-color);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;

    @screen md {
      font-size: 1rem;
    }
  }
}

.whereContainer {
  border-bottom: 1px dashed var(--main-text-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
  @screen md {
    padding-bottom: unset;
    margin-bottom: unset;
    border-bottom: unset;

    @apply w-5/12;
    border-right: 1px dashed var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
  }
}

.progContainer {
  @screen md {
    @apply w-7/12;
    padding-left: 50px;
  }
}

.timeContainer {
  border-bottom: 1px dashed var(--main-text-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
  @screen md {
    padding-bottom: unset;
    margin-bottom: unset;
    border-bottom: unset;
    @apply w-4/12;
    border-right: 1px dashed var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
  }
}

.labContainer {
  @screen md {
    @apply w-8/12;
    padding-left: 50px;
  }
}

.where {
  font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  line-height: 1.25;
  @screen md {
    font-size: 1.8rem;
    margin-bottom: 0;
    text-align: right;
  }
}

.mainTime {
  background-color: var(--new-color);
  display: inline-flex;
  font-size: 1.4rem;
  padding: 5px 13px;
  color: white;
  font-family: 'MontSerrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.25;
  margin-bottom: 0;
  @screen md {
    text-align: right;
  }
}

.theme {
  font-family: 'AbsaraSans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--main-bg-color);
  @screen md {
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 0;
    text-align: right;
  }
}
