.borderContainer {
  display: flex;
  border-radius: 50%;
  border: 4px solid var(--main-bg-color);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.image_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;

  img {
    border-radius: 50%;
  }

  .noImage {
    width: inherit;
    height: inherit;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border-radius: 50%;
  }
}
