.giorniFestival {
  margin-top: 1rem;

  h4 {
    font-family: "AbsaraSans";
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    @apply w-6/12 mx-auto;
    display: flex;
    justify-content: center;
    li {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      .dayNumber {
        display: flex;
        font-size: 0.82rem;
        border-radius: 50%;
        border: 2px solid #7e7f7f;
        height: 65px;
        width: 65px;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-family: "MontSerrat";

        background-color: var(--secondary-bg-color);
        color: var(--main-text-color);
      }

      .active {
        background-color: var(--green-color);
        color: white;
      }
    }
  }
}
