.button {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
}

.selected {
  font-family: "AbsaraSans-TF-Light";
  font-size: 1.6rem;
  text-transform: uppercase;
}

.selectorIcon {
  @apply h-4 w-4;
  color: var(--main-text-color);
}

.daySelectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin-bottom: 2rem;
}
