//default
.nav {
  @apply z-20;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: var(--main-bg-color);
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.navCointainer {
  //background-color: red;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
  overflow: scroll;
}

.logoContainer,
.langMenu {
  display: none;
}

.menuContainer {
  @apply w-10/12 mx-auto;
  display: flex;

  flex-direction: column;
  .menu {
    margin-bottom: 1rem;
    h2 {
      color: white;
      font-family: "AbsaraSans";
      font-size: 1.4rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    li {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.65;
      font-family: "AbsaraSans-Thin";
      text-transform: uppercase;
      margin-bottom: 10px;

      a {
        border-bottom: 1px solid var(--secondary-bg-color);
        display: inline-block;
      }

      a:hover {
        color: white;
        transition: 2ms;
      }
    }

    &.visitatori {
      order: 2;
    }
    &.main {
      order: 1;
      h2 {
        font-size: 2rem;
      }

      li {
        font-size: 1.5rem;
      }
    }
  }

  .chisiamo {
    order: 3;
  }
}
