@font-face {
  font-family: 'AbsaraSans';
  src: url('/fonts/AbsaraSans/AbsaraSans.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AbsaraSans-Thin';
  src: url('/fonts/AbsaraSans/AbsaraSans-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AbsaraSans-Thin-Italic';
  src: url('/fonts/AbsaraSans/AbsaraSans-Thin-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AbsaraSans-Light-Italic';
  src: url('/fonts/AbsaraSans/AbsaraSans-Light-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AbsaraSans-Light';
  src: url('/fonts/AbsaraSans/AbsaraSans-Light.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AbsaraSans-TF-Light';
  src: url('/fonts/AbsaraSans/AbsaraSans-TF-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AbsaraSans-Bold';
  src: url('/fonts/AbsaraSans/AbsaraSans-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'MontSerrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}
