@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";
@import "./fonts.scss";

:root {
  --main-bg-color: #e6cd00;
  --secondary-bg-color: #f1e596;
  --main-title-color: #fff;
  --main-text-color: #1d1d1b;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  &.menu-open {
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: url(/images/cursor.png), auto;
}

a:hover,
.icon,
.hamburger-react {
  cursor: url(/images/cursor-hover.png), auto !important;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.image-container {
  width: 100%;

  > span {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
