//section
.sectionContainer {
  //default contentContainer
  .contentContainer {
    @apply w-11/12 mx-auto;
    margin: 25px auto;
    font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-size: 1.275rem;
    line-height: 1.65;
    margin-bottom: 1rem;
    .pageContentContainer {
      @apply w-11/12 mx-auto mb-10;

      h2 {
        font-size: 1.4rem;
        color: var(--main-text-color);
        line-height: 1.8rem;
        margin-bottom: 1rem;
        border-bottom: 1px dashed var(--main-bg-color);
        font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }

      h3 {
        font-size: 1.3rem;
        color: var(--main-text-color);
        line-height: 1.6rem;
        margin-bottom: 1rem;
        border-bottom: 1px dashed var(--main-bg-color);
        font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        padding-bottom: 10px;
      }

      p,
      li {
        font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 1.1rem;
        line-height: 1.75;
      }

      ul,
      p {
        margin-bottom: 1rem;
      }

      a {
        border-bottom: 1px dashed var(--main-bg-color);
        &:hover {
          color: var(--main-bg-color);
        }
      }

      b,
      strong {
        font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }

      i {
        font-family: "AbsaraSans-Thin-Italic", -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }
    }
  }
}

@screen md {
  .sectionContainer {
    //default contentContainer
    .contentContainer {
      @apply w-10/12 mx-auto;
      margin: 50px auto;
      font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
      font-size: 1.275rem;
      line-height: 1.75;
      margin-bottom: 1rem;
      .pageContentContainer {
        @apply w-8/12 mx-auto mb-10;

        h2 {
          font-size: 2.2rem;
          color: var(--main-text-color);
          line-height: 3.8rem;
          margin-bottom: 1rem;
          border-bottom: 1px dashed var(--main-bg-color);
          font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
        }

        h3 {
          font-size: 1.8rem;
          color: var(--main-text-color);
          line-height: 3.8rem;
          margin-bottom: 1rem;
          border-bottom: 1px dashed var(--main-bg-color);
          font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          padding-bottom: unset;
        }

        p,
        li {
          font-family: "AbsaraSans-Thin", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
          font-size: 1.275rem;
          line-height: 1.75;
        }

        ul,
        p {
          margin-bottom: 1rem;
        }

        b,
        strong {
          font-family: "AbsaraSans", -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
        }

        i {
          font-family: "AbsaraSans-Thin-Italic", -apple-system,
            BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
            Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        }
      }
    }
  }
}
