.main {
  min-height: 80vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageHeader {
  background-color: var(--main-bg-color);

  .pageHeaderContainer {
    @apply w-7/12 mx-auto;
    height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

    h1 {
      font-size: 10rem;
      font-family: "AbsaraSans-Thin";
      line-height: 1;

      letter-spacing: -0.3rem;
      color: var(--main-title-color);
    }
  }
}

.pageBody {
  .pageBodyContainer {
    @apply w-7/12 mx-auto my-20;
    font-family: "AbsaraSans-Thin";
    font-size: 1.5rem;
  }
}

.featuredContent {
  position: relative;
  background-color: #efefef;

  &::before {
    background-color: #efefef;
    mask-image: url("/images/divider-top.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: 100% 100%;
    left: 0;
    top: -300px;
    content: "";
    height: 100%;
    max-height: 400px;
    position: absolute;
    width: 100%;
  }
}

.sectionContainer {
  background-color: whitesmoke;
}

.contentContainer {
  @apply w-7/12 mx-auto py-20;
  .pageContentContainer {
    .pageContent {
      font-family: "font77190";
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2.4rem;
      p {
        margin-bottom: 2rem;
      }
    }
  }
}
