.main {
  min-height: 80vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//header
.pageHeaderContainer {
  background-color: var(--main-bg-color);
  .pageHeader {
    @apply w-11/12 mx-auto;
    height: 30vh;
    justify-content: center;
    align-items: flex-end;
    display: flex;

    h1 {
      font-size: 2.3rem;
      font-family: "AbsaraSans";
      line-height: 1;
      color: var(--main-title-color);
      margin-bottom: 2rem;
      text-align: center;
    }
  }
}

@screen md {
  .pageHeaderContainer {
    background-color: var(--main-bg-color);
    .pageHeader {
      @apply w-10/12 mx-auto;
      height: 35vh;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;

      h1 {
        font-size: 7rem;
        font-family: "AbsaraSans-Thin";
        line-height: 1;

        letter-spacing: -0.3rem;
        color: var(--main-title-color);
      }
    }
  }
}

//section
.sectionContainer {
  //default contentContainer
  .contentContainer {
    @apply w-10/12 mx-auto my-10;
    font-family: "AbsaraSans-Thin";
    font-size: 1.1rem;
    line-height: 1.7;
    text-align: justify;
  }
}

@screen md {
  .sectionContainer {
    //default contentContainer
    .contentContainer {
      h1,
      h2 {
        font-family: "AbsaraSans-Thin";
        border-bottom: 2px solid var(--main-bg-color);
        display: inline-block;
        font-size: 2.375rem;
        line-height: 1;
        padding-bottom: 14px;
        margin-bottom: 40px;
        margin-top: 40px;
        color: var(--main-text-color);
      }

      p {
        font-family: "AbsaraSans-Thin";
        font-size: 1.39rem;
        text-align: justify;
        line-height: 1.75;
        margin-bottom: 1rem;
        i {
          font-family: "AbsaraSans";
          font-weight: bold;
        }
      }

      .pageContentContainer {
        @apply w-8/12 mx-auto my-20;
      }

      .guestContentContainer {
        @apply w-11/12 mx-auto my-20;

        .guestHeader {
          margin-bottom: 4rem;
          text-align: center;
          font-family: "AbsaraSans-Thin";
          font-size: 2rem;

          h1,
          h2 {
            font-size: 5rem;
            text-align: left;
            display: block;
            text-align: center;
            color: var(--main-bg-color);
            border-bottom: 0px solid var(--main-bg-color);
            margin: 0;

            &::after {
              content: "";
              display: block;
              margin: 0.22em auto 0 auto;
              width: 100px;
              border-top: 3px solid #ccc;
            }

            .nome {
              color: var(--secondary-bg-color);
            }

            .cognome {
              font-family: "AbsaraSans";
            }
          }
        }

        .guestBody {
          display: flex;

          .image {
            @apply w-4/12;
            text-align: center;

            .giorniFestival {
              .plus {
                font-family: "AbsaraSans";
                color: var(--main-bg-color);
                font-size: 2rem;
              }

              h4 {
                font-family: "AbsaraSans";
                text-transform: uppercase;
                font-size: 1.2rem;
                color: #7e7f7f;
                margin-bottom: 10px;
              }
              ul {
                margin: 0;
                padding: 0;
                @apply w-6/12 mx-auto;
                display: flex;
                justify-content: center;
                li {
                  display: flex;
                  margin-bottom: 10px;
                  align-items: center;
                  .dayNumber {
                    display: flex;
                    padding: 5px;
                    font-size: 1rem;
                    border-radius: 50%;
                    border: 2px solid #7e7f7f;
                    width: 50px;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    font-family: "AbsaraSans";
                    background-color: #efefef;
                    color: #7e7f7f;
                  }

                  .active {
                    background-color: var(--main-bg-color);
                    color: var(--main-text-color);
                  }
                }
              }
            }
          }

          .text {
            @apply w-7/12;
          }
        }
      }
    }
  }
}
